[Unit]
Description=postcode
After=network.target

[Service]
Environment=PORT=5001
Type=simple
User=www-data
WorkingDirectory=/var/www/postcode/
ExecStart=/usr/bin/node index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target